.preg {
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 20% 20% 2% 21%;
}

.resp {
  font-size: 25px;
}

.boton {
  transform: scale(1.5);
  margin: 5px;

}

.pregunt{
  font-size: 250%;
  //background-color: #fff;
}
.fondo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../public/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*--------------
Caja de inicio
---------------*/
.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #CEC7FF, $alpha: 0.50);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 50vw;
    height: auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: 30px;

    background-color: rgba(245, 243, 243, 0.928);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(8, 0, 0, 0.892);

    &_header {
      position: relative;
      border-bottom: 1px solid #000000;

      &-title {
        text-align: center;
        color: #000000;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;

      }
    }

    &_content {
      border-bottom: 1px solid #000000;
      padding: 2rem 0;
    }

    &_footer {
      padding: 2rem 0;
      padding-bottom: 0;

      .boton-esp {
        top: 0;
        bottom: 0;
        left: 2%;

        &:hover {
          background-color: rgb(4, 122, 182);
        }
      }

    }
  }
}